In [1]:
import pandas as pd 
from selenium import webdriver 
from selenium.webdriver.common.keys import Keys 
from selenium.common.exceptions import NoSuchElementException 
import time 
import re 
from bs4 import BeautifulSoup 
from tqdm import tqdm
from webdriver_manager.chrome import ChromeDriverManager
import requests

In [2]:
driver = webdriver.Chrome(ChromeDriverManager().install())

====== WebDriver manager ======
Current google-chrome version is 101.0.4951
Get LATEST chromedriver version for 101.0.4951 google-chrome
Driver [/Users/sol/.wdm/drivers/chromedriver/mac64_m1/101.0.4951.41/chromedriver] found in cache

In [3]:
keyword = ['강서구 맛집', '양천구 맛집', '구로구 맛집', '금천구 맛집', '영등포구 맛집', '동작구 맛집', '관악구 맛집', '서초구 맛집', '강남구 맛집', '송파구 맛집', '강동구 맛집',
          '마포구 맛집', '용산구 맛집', '성동구 맛집', '광진구 맛집', '서대문구 맛집', '중구 맛집', '동대문구 맛집', '중랑구 맛집', '성북구 맛집', '은평구 맛집', '강북구 맛집', '도붕구 맛집', '노원구 맛집']

In [ ]:
keyword2 = ['고성군 맛집', '속초시 맛집', '양양군 맛집', '강릉시 맛집', '동해시 맛집', '삼척시 맛집', '태백시 맛집', '정선군 맛집', 
            '영월군 맛집', '평창군 맛집', '횡성군 맛집', '원주시 맛집', '홍천군 맛집', '인제군 맛집', '양구군 맛집', '화천군 맛집', 
            '춘천시 맛집', '철원군 맛집']

In [4]:
word_list = []
page_list = []

In [36]:
def scarping_title(keyword):
    
    word_list = []
    page_list = []
    
    for i, word in enumerate(keyword):
        naver_map_search_url = f'https://map.naver.com/v5/search/{word}/place'
        driver.get(naver_map_search_url)
        time.sleep(2)
        driver.switch_to.frame('searchIframe')
        time.sleep(2)

        for i in range(1, 7):
            time.sleep(5)
            page_list.append(i)
            try :
                click = driver.find_element_by_xpath(f'//*[@id="app-root"]/div/div[2]/div[2]/a[{i}]')
                click.click()
                req = driver.page_source
                soup = BeautifulSoup(req, 'html.parser')
            except : 
                pass

            for i in range(1, 11):
                title = soup.select_one(f'#_pcmap_list_scroll_container > ul > li:nth-of-type({i}) > div._3hn9q > a > div.O9Z-o > div > span.OXiLu').get_text()
            #     word = title.get_text()
                word_list.append(title)
    return word_list

In [6]:
seoul = scarping_title(keyword)

In [16]:
word_list = []
page_list = []

In [17]:
kangwon = scarping_title(keyword2)

In [10]:
len(seoul)

2520

In [19]:
len(kangwon)

1080

In [33]:
keywords3 = ['부산 강서구 맛집', '사상구 맛집', '사하구 맛집', '영도구 맛집', '부산 중구 맛집', '부산 서구 맛집', '부산 동구 맛집', 
            '부산 남구 맛집', '부산 북구 맛집', '수영구 맛집', '해운대구 맛집', '기장군 맛집', '금정구 맛집', '동래구 맛집', '연제구 맛집', '부산진구 맛집' ]

In [34]:
busan = scarping_title(keywords3)

In [35]:
len(busan)

960

In [39]:
keywords4 = ['목포시 맛집', '여수시 맛집', '순천시 맛집', '나주시 맛집', '광양시 맛집', '담양군 맛집', '곡성군 맛집', 
             '구례군 맛집', '고흥군 맛집', '보성군 맛집', '화순군 맛집', '장흥군 맛집', '강진군 맛집', '해남군 맛집', 
             '영양군 맛집', '무안군 맛집', '함평군 맛집', '영광군 맛집', '장성군 맛집', '완도군 맛집', '진도군 맛집',
             '신안군 맛집',]

In [40]:
jeonnam = scarping_title(keywords4)

In [41]:
len(jeonnam)

1320

In [43]:
2520 + 1080 + 960 + 1320

5880

In [44]:
df = pd.DataFrame()

In [45]:
df['title'] = seoul + kangwon + busan + jeonnam

In [46]:
df.to_csv('crawling_title1.csv', index=Fals)

           title
0             구락
1     샐러드식당 등촌본점
2           조선갈비
3       팔각도 발산역점
4        경아식당 본점
...          ...
5875        젬마수산
5876      안동식육식당
5877       행복한카페
5878      봉자네1번지
5879        바다식당

[5880 rows x 1 columns]

In [ ]:
# 페이지 클릭
# click = driver.find_element_by_xpath('//*[@id="app-root"]/div/div[2]/div[2]/a[3]')
# click.click()

In [ ]:
# //*[@id="app-root"]/div/div[2]/div[2]/a[1]
# //*[@id="app-root"]/div/div[2]/div[2]/a[2]
# //*[@id="app-root"]/div/div[2]/div[2]/a[3]
# //*[@id="app-root"]/div/div[2]/div[2]/a[4]
# //*[@id="app-root"]/div/div[2]/div[2]/a[5]
# //*[@id="app-root"]/div/div[2]/div[2]/a[6]